<div class="create-product-container">
    <p-card class="create-product-card">
        <ng-template pTemplate="title">Create New Product</ng-template>
        <ng-template pTemplate="content">
            <form [formGroup]="productForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
                <div class="p-field">
                    <label for="name">Product Name <span class="required">*</span></label>
                    <input pInputText id="name" formControlName="name" placeholder="Enter product name"
                        autocomplete="off" pattern=".*[A-Za-z].*" />
                    <small class="error-message"
                        *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched || productForm.get('name')?.hasError('pattern')  ">
                        Product name must contain at least one letter (Min Length:3)
                    </small>
                </div>

                <div class="p-field">
                    <label for="description">Description<span class="required">*</span></label>
                    <input pInputText id="description" formControlName="description" autocomplete="off"
                        placeholder="Enter product description" />
                    <small class="error-message"
                        *ngIf="productForm.get('description')?.invalid && productForm.get('description')?.touched">
                        Description is required (Min: 5 characters).
                    </small>
                </div>


                <div class="p-field">
                    <label for="price">Price<span class="required">*</span></label>
                    <input pInputText id="price" formControlName="price" placeholder="Enter product price" type="number"
                        inputmode="decimal" (keydown)="blockInvalidInput($event)" />
                    <small class="error-message"
                        *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched">
                        price is required
                    </small>
                </div>



                <div class="p-field">
                    <label for="file">Product Image <span class="required">*</span>
                        <span class="supported">(only jpg and png images are supported, Max: 3MB)</span>
                    </label>

                    <p-fileUpload name="productImage" accept=".jpg,.jpeg,.png" [customUpload]="true"
                        (onSelect)="onFileChange($event)" [showUploadButton]="false" [showCancelButton]="true"
                        [invalidFileSizeMessageSummary]="'Maximum upload size is 3 MB  '"
                        [invalidFileTypeMessageSummary]="'Only JPG and PNG images are allowed '"
                        [invalidFileTypeMessageDetail]="''">
                        >
                    </p-fileUpload>


                </div>


                <div class="button-group">
                    <button pButton label="Create Product" icon="pi pi-check" type="submit" class="p-button-success"
                        [disabled]="productForm.invalid || !selectedFile"></button><br><br>
                    <button pButton label="Cancel" icon="pi pi-times" type="button" class="p-button-secondary ml-2"
                        (click)="router.navigateByUrl('/productlist')"></button>
                </div>
            </form>
        </ng-template>
    </p-card>
</div>