.home-container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    align-items: flex-start;
    height: 100vh;
    background-color: #f4f4f4;
}

p-card {
    width: 400px;
    text-align: center;
    padding: 20px;
}

.btn-group {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.p-button {
    width: 48%;
}