<div class="footer">
    <div class="logo">
        <span>MyApp</span>
    </div>
    <div class="footer-links">
        <a href="#" class="footer-link">Privacy Policy</a>
        <a href="#" class="footer-link">Terms of Service</a>
        <a href="#" class="footer-link">Help</a>
    </div>
    <div class="social-icons">
        <i class="pi pi-facebook"></i>
        <i class="pi pi-twitter"></i>
        <i class="pi pi-linkedin"></i>
    </div>
    <p>&copy; 2025 MyApp. All rights reserved.</p>
</div>